<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Chat with Bot</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div class="" style="display: flex;gap: 10px;">
            <div class="metadata-comtainer" id="metadata_comtainer" style="padding: 0px;background-color: #ffffff;border-radius: 10px;    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);display: flex;flex-direction: column;overflow: hidden;">
                <div class="chat-header">
                    MetaData
                </div>
                <div class="metadata" style="padding: 10px 20px;"></div>
            </div>
            <div class="chat-container">
                <div class="chat-header">
                    Chat with New Bot
                </div>
                <div class="chat-box" id="chat-box"></div>
                <!-- Loader shown while waiting for bot -->
                <div id="loader" class="loader"></div>
                <div class="chat-input">
                    <input type="text" id="user-input" placeholder="Type a message..." onkeydown="if(event.key === 'Enter') sendMessage()">
                    <button onclick="sendMessage()">Send</button>
                </div>
            </div>
            
        </div>
        <script>
            function sendMessage() {
                const userInput = $('#user-input').val().trim();
                //if (!userInput) return;

                $('#chat-box').append('<div class="message user">You: ' + userInput + '</div>');
                $('#user-input').val('');
                $('#loader').show();

                $.post('/chat-input/', { message: userInput }, function(data) {
                    let originalText = data.response;
                    let formattedText = originalText.replace(/\n/g, "<br/>");
                    $('#chat-box').append('<div class="message bot">Bot: ' + formattedText + '</div>');
                    
                    
                                       
                    $('.metadata').html('<p>Response Type: '+data.response_meta.response_type+'</p><p>Source: '+data.response_meta.source+'</p><p>Total Tokens: '+data.response_meta.total_tokens+'</p><p>Input Tokens: '+data.response_meta.input_tokens+'</p><p>Output Tokens: '+data.response_meta.output_tokens+'</p>');

                    


                }).fail(function(jqXHR, textStatus, errorThrown) {
                    $('#chat-box').append('<div class="message bot">❌ Error: ' + errorThrown + '</div>');
                }).always(function() {
                    $('#chat-box').scrollTop($('#chat-box')[0].scrollHeight);
                    $('#loader').hide();
                });
            }
        </script>
    </body>
</html>